{% extends "dashboard/base.html" %} {% block title %} Driver List {% endblock %}
{% block content %} {% include "message.html" %}

<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>
<div class="container-fluid">

  <h2 class="text-center mt-3">Driver List</h2>

  {% for employee in object_list %}

  <a class="badge badge-pill badge-warning d-inline py-2 mx-1" href="{% url 'editDriver' empID=employee.empID %}"> <svg
    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
    <path
        d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z" />
    </svg>
    Edit
  </a>
  <a class="badge badge-pill badge-info d-inline py-2 mx-1" href="#"> <svg
      xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
      <path
          d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z" />
      </svg>
  View</a>
  <a class="badge badge-pill badge-success d-inline px-2 py-2 mx-2" href="#"><svg class="mx-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M16 18h-8v-1h8v1zm-2 1h-6v1h6v-1zm10-14v13h-4v6h-16v-6h-4v-13h4v-5h16v5h4zm-18 0h12v-3h-12v3zm12 10h-12v7h12v-7zm4-8h-20v9h2v-3h16v3h2v-9zm-1.5 1c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5z"/></svg>Print</a>

  <table class="mb-5 table table-secondary table-striped">
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Current Vehicle</th>
        <th scope="col">Emp ID</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">DOB</th>
        <th scope="col">Date of Joining</th>
      </tr>
      <tr>
        <th scope="row">{{ employee.firstName}} {{ employee.lastName }}</th>
        <td>{{ employee.driver.vehicle.vehicle_no }}</td>
        <td>{{ employee.empID }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.mobile_number }}</td>
        <td>{{ employee.dob }}</td>
        <td>{{ employee.joiningDate }}</td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>

{% endblock content %}
